<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="style-0.css"> <!-- load fontawesome -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
</head>
<body>
<%- include ../node_modules/basic-login-bar/views/partials/header.ejs %>
<div class="container">
    <% if (!user) { %>

		<div id="intro" class="vert-centered">
			<h1>Welcome to StockCandler!</h1>
			<p>								<a href="/login" class="btn btn-default">Login</a> or 
								<a href="/signup" class="btn btn-default">Signup</a> to start Candling!</p>
		</div>
	
    <% } else {%>

	<div id="body" data-ng-app="Candler" data-ng-controller="MainCtrl as main" data-ng-init="package = <%= packagedUser %>;init(package)">
		<div id="user-candle-list">
		<h1 style="text-align:center;">Your Candles</h1>
			<div id="user-stock-gallery">
				<div id="stock-finder">
					<form data-ng-submit="searchTicker(input.ticker)">
						<input type="text" class="form-control" data-ng-model="input.ticker" placeholder="Add Ticker">
					</form>
					<div class="stock-info-tall">
						<div data-ng-style="stockPopup()">
							<div>
								<p class="stock-name">{{found.name}} ({{found.ticker}})</p>
							</div>
							<div class="stock-candle">
									<div data-ng-style="candleMakerThin(found)" class="candle candle-thin">
										<div data-ng-style="candleMakerThick(found)" class="candle candle-thick"></div>
									</div>
							</div>
							<div>
								<div>
									<p class="stock-price">Now at: {{found.ask}}</p>
									<p><b data-ng-style="colorText(found.avgvolume,found.volume)">{{checkVolume(found.avgvolume,found.volume)}}</b>{{aboveBelow(found.avgvolume,found.volume)}}Volume</p>
								</div>
							</div>
							<div class="btn btn-success" data-ng-click="userAddStock()" data-ng-disabled="userHasStock()">+ Add Stock</div>
						</div>
					</div>
				</div>
				<div class="stock-info-tall" data-ng-repeat="stock in activeUser.detailedStocks">
					<div>
						<p class="stock-name">{{stock.name}} ({{stock.ticker}})</p>
					</div>
					<div>
						<div class="stock-candle">
							<div data-ng-style="candleMakerThin(stock)" class="candle candle-thin">
								<div data-ng-style="candleMakerThick(stock)" class="candle candle-thick"></div>
							</div>
						</div>
						<div>
							<p class="stock-price">Now at: {{stock.ask}}</p>
							<p><b data-ng-style="colorText(stock.avgvolume,stock.volume)">{{checkVolume(stock.avgvolume,stock.volume)}}</b>{{aboveBelow(stock.avgvolume,stock.volume)}}Volume</p>
							<div class="btn btn-danger" data-ng-click="userRemStock(stock, $index)">- Remove Stock</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
    <% } %>
</div>
</body>
</html>
