<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="style-0.css"> <!-- load fontawesome -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
</head>
<body>
<%- include ../node_modules/basic-login-bar/views/partials/header.ejs %>
<div class="container">
    <% if (!user) { %>
	
        <div class="alert alert-danger">not logged in</div>
	
		<div id="intro" class="vert-centered">
			<h1>Welcome to StockCandler!</h1>
			<p>								<a href="/login" class="btn btn-default">Login</a> or 
								<a href="/signup" class="btn btn-default">Signup</a> to start Candling!</p>
		</div>
	
    <% } else {%>
    
	<div class="alert alert-danger">logged in</div>
	
	<div data-ng-app="Candler" data-ng-controller="MainCtrl as main">
		<div id="stock-finder">
			<div>
				<form data-ng-submit="searchTicker(input.ticker)">
					<input type="text" class="form-control" data-ng-model="input.ticker" placeholder="Enter a ticker symbol here">
				</form>
			</div>
			<div id="stock-info" data-ng-style="stockPopup()">
				<div>
					<p id="stock-name">{{found.name}} ({{found.percent}}) </p>
					<div id="add-btn" class="btn btn-success" data-ng-click="userAddStock()">Add Stock</div>
				</div>
				<div>
					<div id="stock-data">
						<p><b>Open Price:</b> {{found.open}}</p>
						<p><b>Today's Range:</b> {{found.range}}</p>
						<p><b>Current Ask:</b> {{found.ask}}</p>
						<p><b>Today's Volume:</b> {{found.volume}} shares</p>
						<p><b>Average Volume:</b> {{found.avgvolume}} shares</p>
					</div>
					<div id="stock-chart">Chart goes here</div>
				</div>
			</div>
			<hr>
		</div>
		<hr>
		<div id="user-candle-list">
		<h1>Your Candles</h1>
		
		next steps:
			1. make nicer display for stock info
			2. make add stock to list button
			
		
		</div>
	</div>
	
    <% } %>
</div>
</body>
</html>
