<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="style-0.css"> <!-- load fontawesome -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
</head>
<body>
<%- include ../node_modules/basic-login-bar/views/partials/header.ejs %>
<div class="container">
    <% if (!user) { %>

		<div id="intro" class="vert-centered">
			<h1>Welcome to StockCandler!</h1>
			<p>								<a href="/login" class="btn btn-default">Login</a> or 
								<a href="/signup" class="btn btn-default">Signup</a> to start Candling!</p>
		</div>
	
    <% } else {%>

	<div id="body" data-ng-app="Candler" data-ng-controller="MainCtrl as main" data-ng-init="package = <%= packagedUser %>;init(package)">
		<div id="user-candle-list">
		<h1 style="text-align:center;">Your Candles</h1>
			<div id="user-stock-gallery">
				<div id="stock-finder">
					<div>
						<form data-ng-submit="searchTicker(input.ticker)">
							<input type="text" class="form-control" data-ng-model="input.ticker" placeholder="Add Ticker">
						</form>
					</div>
					<div class="stock-info-tall" data-ng-style="stockPopup()">
						<div>
							<p class="stock-name">{{found.name}} ({{found.ticker}}) </p>
						</div>
						<div class="stock-candle">
								<div data-ng-style="candleMakerThin(found)" class="candle candle-thin">
									<div data-ng-style="candleMakerThick(found)" class="candle candle-thick"></div>
								</div>
						</div>
						<div>
							<div>
								<p style="font-size:2em">{{found.ask}}</p><!--
								<p><b>Today's Range:</b> {{found.range}}</p>
								<p><b>Current Ask:</b> {{found.ask}}</p>
								<p><b>Today's Volume:</b> {{found.volume}} shares</p>
								<p><b>Average Volume:</b> {{found.avgvolume}} shares</p>-->
							</div>
						</div>
						<div class="btn btn-success" data-ng-click="userAddStock()" data-ng-disabled="userHasStock()">+ Add Stock</div>
					</div>
				</div>
				<div class="stock-info-tall" data-ng-repeat="stock in activeUser.detailedStocks">
					<div>
						<p class="stock-name">{{stock.name}} ({{stock.ticker}}) </p>
					</div>
					<div>
						<div class="stock-candle">
							<div data-ng-style="candleMakerThin(stock)" class="candle candle-thin">
								<div data-ng-style="candleMakerThick(stock)" class="candle candle-thick"></div>
							</div>
						</div>
						<div>
							<p style="font-size:1.4em">{{stock.ask}}</p><!--
							<p><b>Today's Range:</b> {{stock.range}}</p>
							<p><b>Current Ask:</b> {{stock.ask}}</p>
							<p><b>Today's Volume:</b> {{stock.volume}} shares</p>
							<p><b>Average Volume:</b> {{stock.avgvolume}} shares</p>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
    <% } %>
</div>
</body>
</html>
